VITE_SUPABASE_URL=https://szcdfidxuyuivunxmjyo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6Y2RmaWR4dXl1aXZ1bnhtanlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NTQ1NjgsImV4cCI6MjA4OTIzMDU2OH0.F2y4rY0QM3EQheoKC4WwDqGv_pjepj7gOuoCB-k4p-E
VITE_API_BASE_URL=http://localhost:8000
